html {
    color:black;
    background-color: white;
    font-family: "Helvetica";
    font-size: small;
}

p {
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
}

a {
    color:rgb(51, 122, 183);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.container{

    position: absolute;
	top:0;
	left: 0;
	right: 0;
    margin: 10px;

    text-align: left;
}

.block{
    margin-bottom: 20px;
}

.brrr {
    animation: rotation 100s infinite alternate linear;
    width: 1000px;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


.footer{

    position: absolute;
    bottom: 0;
    margin-bottom: 6px;
    text-align: left;
}