doctype html
html(lang="en")
	head
		link(rel='stylesheet', href='./css/bootstrap.css')
		link(rel='stylesheet', href='./css/font-awesome.css')
		link(rel='stylesheet', href='./css/index.css')
		meta(charset='utf-8')
		script(src='./js/index.js')
		title Kaelan Fouwels
	body
		.container-fluid
			ul.list-unstyled
				li 
					| Kaelan Fouwels
				li 
					| I have a 
					a(href='https://www.github.com/kfwls') Github
				li 
					| And a 
					a(href='https://twitter.com/kfwls') Twitter
				li
					| Email me at 
					a(href='mailto:kf@kaelanfouwels.com') kae@kfwls.co
				//- li
				//- 	| See my 
				//- 	a(href='./resume.html') resume
					
			
			
		.footer
			.span
				.footer-left
					a(href='http://www.github.com/kfwls/w.kfwls.co') Source 
					| on Github
				.footer-right
					| Inspired by 
					a(href='http://motherfuckingwebsite.com') motherfuckingwebsite.com,
					|  written in 
					a(href='http://jade-lang.com') JADE
					
