html{
  height: 100%;
}
body {
  min-height: 100%;
}

h1 {
	font-family : 'Open Sans';
	font-size : 30px;
}
.root {
	position : absolute;
	width : 100%;
	height : auto;
	top : 50%;
	margin-top : -80px;
}
.root2 {
	height : auto;
	width : auto;
	position : relative;
}
.linkContainer {
	display : inline-block;
	width : 100px;
	height : auto;
	padding : 10px;
	margin : 20px;
	background-color : rgba(0, 0, 0, 0.20);
	border-radius : 3px;
}
.linkContainerContents {
	width: auto;
    height: auto;
    position: relative;
	top : 50%;
	margin-top : 0px;
}

